*.local
.config/configstore/update-notifier-npm.json
.config/exercism
.config/hub
.config/hub
.config/gh/hosts.yml

.CFUserTextEncoding
.Trash/
.bash_history
.bash_profile
.bash_sessions/
.bashrc
.bundle/
.cache/
.cups/
.docker/
.dotfiles.git/
.dotfiles/
.eclipse/
.fig/
.gem/
.gemrc
.gitconfig
.gitignore_global
.gnupg/
.inputrc
.irb_history
.jruby_art/
.lesshst
.local/
.my.cnf
.mysql_history
.node-gyp/
.node_repl_history
.nodenv/
.npm/
.pry_history
.pryrc
.psql_history
.railsrc
.rbenv/
.shell/
.solargraph/
.ssh/
.tmux.conf
.vscode-insiders/
.vscode/
.webdrivers/
.wget-hsts
.yarnrc
.zprofile
.zsh_history
.zshrc
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Google Drive
Library/
Movies/
Music/
Pictures/
Public/
Support/
bin/
dev/

